---
# See more:
# https://hashrocket.com/blog/posts/build-the-ultimate-elixir-ci-with-github-actions
name: CI
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
env:
  MIX_ENV: test
jobs:
  test:
    runs-on: ubuntu-16.04
    name: OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }}
    strategy:
      matrix:
        otp: ["22.3"]
        elixir: ["1.9"]
        include:
          - otp: "20.3"
            elixir: "1.6"
            format: "true"
          - otp: "21.3"
            elixir: "1.8"
          - otp: "22.3"
            elixir: "1.9"
            credo: "true"
            dialyzer: "true"
          - otp: "21.1"
            elixir: "1.11"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}

      - name: Retrieve Mix Cache
        uses: actions/cache@v2
        id: mix-cache
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Retrieve Build Cache
        uses: actions/cache@v2
        id: build-cache
        with:
          path: _build
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Install Mix Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Check Formatting
        if: matrix.format == 'true'
        run: mix format --check-formatted

      - name: Analyze Code
        if: matrix.credo == 'true'
        run: mix credo

      - name: Run Tests
        run: mix test

      - name: Retrieve PLT Cache
        if: matrix.dialyzer == 'true'
        uses: actions/cache@v1
        id: plt-cache
        with:
          path: priv/plts
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plts-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Create PLTs
        if: ${{ matrix.dialyzer == 'true' && steps.plt-cache.outputs.cache-hit != 'true' }}
        run: |
          mkdir -p priv/plts
          mix dialyzer --plt

      - name: Run Dialyzer
        if: matrix.dialyzer == 'true'
        run: mix dialyzer --no-check --no-compile --halt-exit-status
